{% extends "base.html" %} {% block title %} Viewing {{model_name}} {% endblock %}
{% block content %}
<button type="button" class="btn btn-warning m-3" data-bs-toggle="modal" data-bs-target="#createModal">
    Add or Overwrite Record
</button>
<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Create New Entry</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" onsubmit="window.location.reload()">  
                    {% csrf_token %}  
                    {{ form }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover table-sm">  
    <thead class="table-light">  
        <tr>  
            {% for field_name in fields %}
            <th>{{ field_name }}</th>
            {% endfor %}
        </tr>  
    </thead>  
    <tbody class="table-group-divider">
        {% for row in rows %}  
        <tr>  
            {% for value in row %}
            <td class="align-middle">{% if not value %}N/A{% else %}{{ value }}{% endif %}</td>
            {% endfor %}  
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{forloop.counter}}">Delete</button>  
            </td>  
        </tr>
            <div class="modal fade" id="deleteModal{{forloop.counter}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModal{{forloop.counter}}Label">Delete Entry</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <b>Are you sure you want to permanently delete this entry?</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form method="POST" onsubmit="window.location.reload()">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="delete" value={{forloop.counter}}>Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </tbody>  
    </table>
    {% endblock %}