{% extends "base.html" %} {% block title %} Employee System {% endblock %}
{% block content %}
<h1>Employee Controls</h1>
<div class="btn-group-vertical gap-3 mt-2" role="group" >
    <a href="crud/BookingOrder/" type="button" class="btn btn-primary" style="border-radius:10px;">
        Check-In a Customer
    </a>
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" style="border-radius:10px;">
            Manage Database
        </button>
        <ul class="dropdown-menu">
            {% if model_names %}
                {% for name in model_names %}
                <li><a href="crud/{{ name }}/" class="dropdown-item">{{ name }}</a></li>
                {% endfor %}
            {% else %}
            <li><a href="#" class="dropdown-item disabled">No tables found in database</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

<!-- Book Room For Customer (Immediately As a Renting) -->
<!-- Check in Customer (Booking->Renting) -->