{% extends "base.html" %} {% block title %} Hotels {% endblock %}
{% block content %}
<style>
    div.mycontainer {
      width:100%;
      overflow:auto;
    }
    div.mycontainer div {
      width:30%;  
      float:left;
      border: 2px solid black;
      margin: 10px;
      padding:10px;
    }
</style>
<body>

    <div> 
        <h1>Choose a Hotel</h1>
    </div>

    <div class="mycontainer">
    
    <div>
        <h2>Hotel Name 1</h2>
        <p>Location</p>
        <p>Price Range</p>
        <p>Hotel Star Rating</p>
    </div>
      
    <div>
        <h2>Hotel Name 2</h2>
        <p>Location</p>
        <p>Price Range</p>
        <p>Hotel Star Rating</p>
    </div>
      
    <div>
        <h2>Hotel Name 3</h2>
        <p>Location</p>
        <p>Price Range</p>
        <p>Hotel Star Rating</p>
    </div>
    
    </div>
    
</body>
{% endblock %}