{% extends "base.html" %} {% block title %} Hotels {% endblock %}
{% block content %}
{% load static %}
<body>

    <div>
        <h1>Choose a Hotel</h1>
    </div>

    {% if hotel.hotel_id %}    
        {% for hotels in hotels %}
        
            {% endfor %}

    {% else %}
        <p>No hotels exist.</p>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col py-3">
          <div class="card h-100" style="width: 18rem;">
            <img src={% static "hotel1.jpg" %} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Hotel Chain 1</h5>
                <div class="card-text">
                    <p>Location</p>
                    <p>Price Range</p>
                    <p>Hotel Star Rating</p>
                    <p>{{hotel.hotel_name}}</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col py-3">
            <div class="card h-100" style="width: 18rem;">
                <img src={% static "hotel2.jpg" %} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Hotel Chain 2</h5>
              <div class="card-text">
                <p>Location</p>
                <p>Price Range</p>
                <p>Hotel Star Rating</p>
                <p>{{hotel.hotel_name}}</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col py-3">
            <div class="card h-100" style="width: 18rem;">
                <img src={% static "hotel3.jpg" %} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Hotel Chain 3</h5>
              <div class="card-text">
                <p>Location</p>
                <p>Price Range</p>
                <p>Hotel Star Rating</p>
                <p>{{hotel.hotel_name}}</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col py-3">
            <div class="card h-100" style="width: 18rem;">
                <img src={% static "hotel4.jpg" %} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Hotel Chain 4</h5>
              <div class="card-text">
                <p>Location</p>
                <p>Price Range</p>
                <p>Hotel Star Rating</p>
                <p>{{hotel.hotel_name}}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
{% endblock %}