{% extends "base.html" %} {% block title %} Rooms {% endblock %}
{% block content %}
{% load static %}

<body>
    <h1>{{ hotel.name }}</h1>

<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
    Filter Rooms
    <!-- capacity -->
    <!-- extendable -->
    <!-- amenities -->
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter Hotels</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <form id="filterForm" method="GET">
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            Capacity
          </button>
          <ul class="dropdown-menu">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="capacity" value=1 id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="capacity" value="2" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                2
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="capacity" value="3" id="flexRadioDefault3">
              <label class="form-check-label" for="flexRadioDefault3">
                3
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="capacity" value="4" id="flexRadioDefault4">
              <label class="form-check-label" for="flexRadioDefault4">
                4
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="capacity" value="5" id="flexRadioDefault5">
              <label class="form-check-label" for="flexRadioDefault5">
                5
              </label>
            </div>
          </ul> 
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            Is Extendable
          </button>
          <ul class="dropdown-menu">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="is_extendable" value='False' id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                True
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_extendable" value='True' id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                False
                </label>
              </div>
          </ul>
        </div>
        
        <button class="btn btn-primary m-3" type="submit">
          Submit
        </button>
      </form>
    </div>      
  </div>

    {% if hotel.rooms %}
    <div class="row row-cols-auto g-4">
        {% for room in hotel.rooms.all %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src={% cycle " /static/hotel1.jpg" "/static/hotel2.jpg" "/static/hotel3.jpg" "/static/hotel4.jpg" %} class="card-img-top">
                <div class="card-body">
                    <a href="/room/{{ room.id }}">
                        <h5 class="card-title">Room #{{ room.room_num }}</h5>
                    </a>
                    <div>
                        <p class="card-text">${{ room.price }}/Night</p>
                        <p class="card-text">{{ room.capacity }} person capacity</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No rooms exist.</p>
    {% endif %}
</body>
{% endblock %}
