{% extends "base.html" %} {% block title %} Rooms {% endblock %}
{% block content %}
{% load static %}
<body>
    <h1>{{ hotel.name }}</h1>
    {% if hotel.rooms %}
    <div class="row row-cols-auto g-4">
        {% for room in hotel.rooms.all %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src={% cycle "../static/hotel1.jpg" "../static/hotel2.jpg" "../static/hotel3.jpg" "../static/hotel4.jpg" %} class="card-img-top">
                <div class="card-body">
                    <a href="/room/{{ room.id }}">
                        <h5 class="card-title">Room #{{ room.room_num }}</h5>
                    </a>
                    <div>
                        <p class="card-text">${{ room.price }}/Night</p>
                        <p class="card-text">{{ room.capacity }} person capacity</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No rooms exist.</p>
    {% endif %}
</body>
{% endblock %}
